.container {
	display: flex;
	justify-content: center;
}

.contact-info-icon {
	width: 2rem;
	height: 2rem;
}

.info {
	width: 10rem;
}

.value {
	width: 12rem;
}

.social-media {
	text-align: center;
}