.timeline-element-wrapper {
  height: 100%;
  background-color: #F0F0F0;
}

.text-wrapper .text:first-child {
  padding-top: 2rem;
}

.text-wrapper .text:last-child {
  padding-bottom: 2rem;
}

.timeline-element {
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.line-divider {
  display: flex;
}

.line-container {
  margin-left: calc(-50% - 0.5px);
  position: relative;
}

.line-element {
  position: absolute;
  background-color: black;
  width: 1px;
  height: 100%;
}


/*.timeline {
  >div, >h6 { display: inline-block; }
}*/
.inline {


    /*padding: 0 3rem 0 3rem;*/
}

.year {
  text-align: right;
  display: inline-block;
  vertical-align: top;
  color: #444444;
  font:normal normal normal 1rem/1.4em avenir-lt-w01_35-light1475496,sans-serif;
  /*padding-right: 2rem;*/
  padding: 2rem;
}

.text {
  text-align: justify;
  width: 30rem;
  vertical-align: top;
  color: #444444;
  font:normal normal normal 1rem/1.4em avenir-lt-w01_35-light1475496,sans-serif;
  /*padding-left: 2rem;*/
  padding: 0 2rem;
}

.circle {
  width: .3rem;
  height: .3rem;

  background-color: black;
  /*border: 4px solid #000000;*/
  border-radius: 50%;
  z-index: 1;
  display: inline-block;
  /*margin: auto 0;*/
}

/*@media (max-width: 1200px) {
  .timeline-element {
    width: auto;
  }
  .text {
    width: 10rem;
  }

}
*/

