.timeline-element-wrapper {
  height: 100%;
  background-color: #F0F0F0;
}

.timeline-element {

  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.line-divider {
  display: flex;
}

.line-container {
  margin-left: calc(-50% - 0.5px);
  position: relative;
}

.line-element {
  position: absolute;
  background-color: black;
  width: 1px;
  height: 100%;
}


/*.timeline {
  >div, >h6 { display: inline-block; }
}*/
.inline {


    /*padding: 0 3rem 0 3rem;*/
}

.year {
  text-align: right;
  display: inline-block;
  width: 30rem;
  vertical-align: top;
  height: 100%;
  color: #444444;
  font:normal normal normal 1rem/1.4em avenir-lt-w01_35-light1475496,sans-serif;
  /*padding-right: 2rem;*/
  padding: 2rem;
}

.text {
  text-align: left;
  display: inline-block;
  width: 30rem;
  vertical-align: top;
  height: 100%;
  color: #444444;
  font:normal normal normal 1rem/1.4em avenir-lt-w01_35-light1475496,sans-serif;
  /*padding-left: 2rem;*/
  padding: 2rem;
}

.circle {
  width: .3rem;
  height: .3rem;

  background-color: black;
  /*border: 4px solid #000000;*/
  border-radius: 50%;
  z-index: 1;
  display: inline-block;
  /*margin: auto 0;*/
}


