.header {
  	position: sticky;
    top: 0;
    /*background: green;*/
    justify-content: center;
	display: flex;
	margin-bottom: 10rem;
/*    	margin-left: auto;
    margin-right: auto;*/
}

.picture {
	border-radius: 50%;
	height: 18rem;
	width: 18rem;
	border: 1em solid #FFFFFF;

	position: absolute;
	/*# center image*/
	/*display: block;*/
    transform: translateY(-50%);
}

.nav-item {
	width: 10%;
	text-align: center;
	font-size: 1.5rem;
	font: normal normal normal 18px/1.4em 'times new roman',times,serif;
	color: white;

	background-color: #222222;
	height: 3rem;
	vertical-align: middle;
}

.nav-item :hover {
	color: green;
}

.anchor {
	color: white;
	text-decoration: none;
}

.nav-space {
	width: 5%;
	background-color: #222222;
}

.nav-empty {
	width: 10%;
	background-color: #222222;
}
