.header {
  	background-color: black;
  	position: sticky;
  	top: 0;
  	background-color: #222222;
}

.nav {
    justify-content: center;
	display: flex;
	margin-bottom: 10rem;
}

.picture {
	border-radius: 50%;
	height: 18vw; 
	width: 18vw;
	border: 1rem solid #FFFFFF;
	position: absolute;
    transform: translateY(-50%);
}

.nav-item {
	width: 10%;
	text-align: center;
	font-size: 1rem;
	/* font: normal normal normal 18px/1.4em 'times new roman',times,serif; */
	color: white;
	padding: 1rem 0 1rem 0;
	background-color: #222222;
	vertical-align: middle;
}

.nav-item :hover {
	color: grey;
}

.anchor {
	color: white;
	text-decoration: none;
}

.nav-empty {
	width: 10%;
	padding: 1rem 0 1rem 0;
	background-color: #222222;
}

@media (max-width: 1200px) {
	.picture {
		height: 5rem;
		width: 5rem;
		display: none;
	}
	.nav-empty {
		display: none;
	}
}