.header {
  	background-color: black;
  	position: sticky;
  	top: 0;
  	background-color: #222222;
}

.nav {
    justify-content: center;
	display: flex;
	margin-bottom: 2rem;
}

.nav-item {
	width: 10%;
	text-align: center;
	font-size: 1rem;
	/* font: normal normal normal 18px/1.4em 'times new roman',times,serif; */
	color: white;
	padding: 1rem 0 1rem 0;
	background-color: #222222;
	vertical-align: middle;
}

.nav-item :hover {
	color: grey;
}

.anchor {
	color: white;
	text-decoration: none;
}

@media (max-width: 1200px) {
  .nav-item {
    width: auto;
    margin: 10px;
    font-size: 0.8rem;
  }
}
