.android-app-wrapper {
	text-align: center;
	animation-name: fade-in;
	animation-duration: 1s;
}

@keyframes fade-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.android-app-title {
	font-size: 2rem;
	font-weight: bold;
}

.android-app-description {
	display: flex;
	margin: 0 auto;
	max-width: 49rem;
}

.android-app-info {
	max-width: 10rem;
	margin: 0 1rem 0 0;
}

.android-app-text {
	text-align: left;
	margin: 1rem auto;
	align-self: center;
}

.android-app-screenshot {
	width: 25rem;
	height: auto;
	display: inline-block;
}

.android-app-rating {
	display: flex;
	flex-direction: row;
	margin: auto;
}

.android-app-star {
	margin: 0 0 0.3rem auto;
}

.android-app-numeric-rating {
	font-size: 5.3rem;

}
