.project-wrapper {
	text-align: center;
	animation-name: fade-in;
	animation-duration: 1s;
}

@keyframes fade-in {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

.project-title {
	font-size: 2rem;
	font-weight: bold;
}

.project-description {
	width: 70rem;
	margin: auto;
	text-align: left;
}

.project-subtitle {
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.instagram-screenshot {
	width: 25rem;
	height: auto;
	display: inline-block;
}



