.project-wrapper {

	text-align: center;
	width: 100%;
	animation-name: fade-in;
	animation-duration: 1s;
}

@keyframes fade-in {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

.project-title {
	font-size: 2em;
	font-weight: bold;
}

.project-description {
	width: 70rem;
	margin: 2rem auto;
	text-align: left;
}

.project-subtitle {
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	font-weight: bold;
}



