.project-wrapper {
	text-align: center;
	animation-name: fade-in;
	animation-duration: 1s;
}

@keyframes fade-in {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

.project-title {
	font-size: 2rem;
	font-weight: bold;
}

.project-text {
	max-width: 50rem;
	margin: 0.5rem auto;
	text-align: left;
}

.instagram-screenshot {
	width: 25rem;
	height: auto;
	display: inline-block;
}

@media (max-width: 1200px) {
	.project-title {
		font-size: 1.5rem;
	}
	.project-text {
		max-width: 25rem;
	}
}



