.karate-logo {
	margin: 2em auto;
	width: 50%;
}

.karate-title {
	text-align: center;
	border-style: solid;
	width: fit-content;
	margin: 3rem;
	font-size: 2rem;
	font-weight: bold;
	margin: 3rem auto;
	padding: .2rem;
}

.karate-text {
	width: 50rem;
	margin: 0 auto;
}

.karate-image {
	margin: auto;
	width: 50rem;
	text-align: center;
}