.icon {
	width: 5rem;
	height: 5rem;
}

.project-icon {
	text-align: center;
	width: auto;
	margin: 1rem;
}

.personal-projects-wrapper {
	display: flex;
	justify-content: center;
}

.personal-projects-wrapper a {
	text-decoration: none;
}

.personal-projects-element-title {
	color: black;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 0.5rem 0;
}


@media (max-width: 1200px) {
  .personal-projects-element-title {
  	font-size: 1rem;
  	margin: auto;
  }
  .project-icon {

  }
}


