.icon {
	width: 5rem;
	height: 5rem;
}

.project {
	text-align: center;
}

.personal-projects-wrapper {
	display: flex;
	justify-content: center;
}

.personal-projects-wrapper a {
	text-decoration: none;
}

.personal-projects-element-title {
	color: black;
}

