.icon {
	width: 5rem;
	height: 5rem;
}

.project-icon {
	text-align: center;
	margin: 3rem;
}

.personal-projects-wrapper {
	display: flex;
	justify-content: center;
}

.personal-projects-wrapper a {
	text-decoration: none;
}

.personal-projects-element-title {
	color: black;
	margin: 2rem;
	font-size: 2rem;
}

