.investing-container {
	text-align: center;
	align-content: center;
	width: 100%;
}

.investing-title {
	text-align: center;
	border-style: solid;
	width: fit-content;
	margin: 3rem;
	font-size: 2rem;
	font-weight: bold;
	margin: 3rem auto;
	padding: .2rem;
}

.investing-description {
	width: 50rem;
	margin: 0 auto;
	text-align: left;
}

.logo-icon {
	height: 100px;
	margin: 5rem;
}